<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  
  <div class="table-container">
    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
    <a href="productos-agregar" style="text-decoration: none; margin-left: 5px;" type="button" pButton><i class="pi pi-plus" style="color: white; text-decoration: none;"></i>
   </a>
    <p-table #dt [value]="productos" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" (onPage)="pageChange($event)"
      [rowsPerPageOptions]="[10, 25, 50]" class="small-table"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
      <ng-template pTemplate="header">

        <tr>
          <th style="min-width:100px">#</th>
          <th style="min-width:200px">Nombre Producto</th>
          <th style="min-width:200px">Precio Producto</th>
          <th style="min-width:200px">Detalle Producto</th>
          <th style="min-width:200px">Total</th>
          <th style="min-width:200px">Imagen</th>
          <th style="min-width:200px">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
        <tr>
          <td> {{ producto.id_producto }}</td>
          <td>{{ producto.nombreproducto }}</td>
          <td>{{ producto.precioproducto }}</td>
          <td>{{ producto.detalleproducto}}</td>
          <td>{{ producto.preciototal | number: '1.2-2' }}</td>
          <td> <img [src]="producto.urlImagen" alt="Imagen del producto" style="max-width: 100px; max-height: 100px;">
          </td>
          <td>
            <button pButton style="background-color: yellow; border-color: yellow; color: black;" icon="pi pi-user"
            type="button" 
            class="botono"
            (click)="editarProducto(producto.id_producto)" > 
           </button> 
<!--             <button (click)="editarProducto(producto.id_producto)" class="btn btn-sm me-3">Editar</button>
 -->         <button pButton style="background-color: red; border-color: red; margin-left: 5px;" icon="pi pi-times" class="botono " type="button" severity="danger"
                  (click)="eliminarProducto(producto.id_producto)">
              </button>
          </td>

        </tr>
        
      </ng-template>
  
    </p-table>

  </div>
</body>

</html>